@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Poppins', sans-serif;
}



.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.svg-inline--fa {
  height: 1em;
  display: inline;
  /* vertical-align: -0.125em; */
}

.pad{
  @apply px-[5%] lg:px-[9%];
}

.rr{
  @apply rounded-[5px] ;
}

.button1{
  @apply h-[60px] rr uppercase text-[14px] bg-orange-500 text-white px-[20px] font-semibold;
}