@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Poppins', sans-serif;
}

.inp{
  @apply h-[40px] w-full  focus:bg-gray-100 rr border-b-2 border-gray-200 mt-[5px] px-[10px] outline-none focus:border-b focus:border-orange-500 ;
}

.inputlogin{
  @apply border-b border-neutral-400  outline-none focus:bg-neutral-100 h-[50px] 
}
.labellogin{
  @apply text-[15px] text-neutral-500 font-semibold;
}

.topspace{
  @apply mt-[85px] lg:mt-[10vh]
}


.loginInput {
  @apply h-[50px] w-full rr bg-gray-100 outline-none focus:border focus:border-orange-500 px-[10px];
}

.loginlabel {
  @apply font-semibold text-[13px] text-gray-700;
}


/* the contact details Dashboard details  */

.inputContact{
  @apply w-[100%] bg-gray-100 rr h-[50px] mt-[10px] p-[10px] outline-none border-sec focus:border hover:border text-[14px] text-neutral-600
}





.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.svg-inline--fa {
  height: 1em;
  display: inline;
  /* vertical-align: -0.125em; */
}

.pad{
  @apply px-[5%] lg:px-[9%];
}

.rr{
  @apply rounded-[5px] ;
}

.button1{
  @apply h-[60px] rr uppercase text-[14px] bg-orange-500 text-white px-[20px] font-semibold;
}


.no-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 0;
  
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color:#007c92;
  border-radius: 5px;
}


